.paymentPage {
    max-width: 500px;
    margin: 18vh 34vw;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .login-labels {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #004a3f;
  }
  
  .login-feilds {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    color: #333;
  }
  
  .success {
    color: #004a3f;
  }
  
  .failure {
    color: #b30000;
  }

  .method-options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .method-options label {
    font-weight: bold;
    color: #004a3f;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  